<div class="news"><span class="romb">⬥</span> Сегодня в Меню <span class="romb">⬥</span></div>
  <div class="img-group1">
    {{#each ordersByClient}}
    <div>
      <img src="{{this.Order.photo_link}}" alt="">
      <strong>{{this.Order.dish}}</strong>
      <br>Цена со скидкой: {{this.Order.discount_price}}
      <br>Количество позиций: {{this.counter}}
      <br><button class="login-button js-delete-from-cart" data-id="{{menu.id}}">Удалить из корзины</button>
      </div>
    {{/each}}
  </div>
